$slow: 2s;
$normal: 1s;
$fast: .5s;

@mixin animate($keyframe, $duration) {
    animation: $keyframe $duration forwards
}
.ss-onscroll-right, .ss-onscroll-right-slow, .ss-onscroll-right-fast,
.ss-onscroll-left, .ss-onscroll-left-slow, .ss-onscroll-left-fast,
.ss-onscroll-top, .ss-onscroll-top-slow, .ss-onscroll-top-fast,
.ss-onscroll-bottom, .ss-onscroll-bottom-slow, .ss-onscroll-bottom-fast {
    visibility: hidden;
}
// RIGHT
.ss-right {
    @include animate(ss-right, $normal)
}
.ss-right-slow {
    @include animate(ss-right, $slow)
}
.ss-right-fast {
    @include animate(ss-right, $fast)
}
@keyframes ss-right {
    0% {
        opacity: 0.1;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
// LEFT
.ss-left {
    @include animate(ss-left, $normal)
}
.ss-left-slow {
    @include animate(ss-left, $slow)
}
.ss-left-fast {
    @include animate(ss-left, $fast)
}
@keyframes ss-left {
    0% {
        opacity: 0.1;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
// BOTTOM
.ss-bottom {
    @include animate(ss-bottom, $normal)
}
.ss-bottom-slow {
    @include animate(ss-bottom, $slow)
}
.ss-bottom-fast {
    @include animate(ss-bottom, $fast)
}
@keyframes ss-bottom {
    0% {
        opacity: 0.1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
// TOP
.ss-top {
    @include animate(ss-top, $normal)
}
.ss-top-slow {
    @include animate(ss-top, $slow)
}
.ss-top-fast {
    @include animate(ss-top, $fast)
}
@keyframes ss-top {
    0% {
        opacity: 0.1;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
// CENTER
.ss-center {
    @include animate(ss-center, $normal)
}
.ss-center-slow {
    @include animate(ss-center, $slow)
}
.ss-center-fast {
    @include animate(ss-center, $fast)
}
@keyframes ss-center {
    0% {
        opacity: 0.1;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale((1));
    }
}